<html>
	<head>
		<title>Um convite</title>		
	
	</head>

	<body bgcolor = "FF0000">
		<div>
			<h1><b><i><center>
			<font color="white">
			<font size="20">
			Hello, It's me
			</h1></b></i></center>
			</font>
			</font>
 
		</div>

		<div>
			<h2><b><i><center>
			<font color = "#FFD700">
			<font size="16">
			Yasmini, gostaria de sair comigo??
			</h2></b></i></center>
			
		
		</div>

		<div>
			<center>
				<font color="white"><font size="14"><b>Local:</b></font></font>
				<font color="#FFD700"><font size="14"<i>Bar Backbone</i></font></font>
				<br></br>
				<font color="white"><font size="14"><b>Data e Horário:</b></font></font>
                                <font color="#FFD700"><font size="14"<i>A decidir pela dispobilidade da dama</i></font></font>
				<br></br>
				
			</center>	
		</div>



		<div align="left">
			<font size="8"><font color="black">P.S.: Na data que puder, vou estar disponível mesmo rsrsrs</font></font>

		

		</div>

		
		

	</body>











</html>
